<div id="admin-menu">
  <button mat-button routerLink="Users">Users</button>
  <button mat-button routerLink="Groups" [disabled]=true>Groups</button>
  <button mat-button routerLink="Doors" [disabled]=true>Doors</button>
</div>

<router-outlet></router-outlet>