#admin-menu{
    width:100%;
    min-width: fit-content;
    height: 50px;
    background: #74c2b7;
    justify-content: center;
    
    display: flex;
    flex-direction: row;

    margin-bottom: 25px;
}

#admin-menu > button {
    flex-grow: 1;

}