<h1 mat-dialog-title>Password reset</h1>
<div mat-dialog-content style="display: flex; flex-direction: column; justify-content: space-evenly">
    <mat-form-field>
        <input matInput type="password" placeholder="Password" required [formControl]="password">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input type="password" placeholder="Password Confirmation" matInput required [formControl]="passwordConfirmation">
    </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-evenly">
    <button mat-button (click)="dialogRef.close()" style="background: lightcoral">
        <mat-icon>clear</mat-icon>
    </button>
    <button mat-button (click)="confirmPassword()" style="background-color: rgb(145, 228, 166)">
        <mat-icon>check</mat-icon>
    </button>
</div>