<div *ngIf="profileData" class="profile-content">
  <mat-card id="photo-container">
    <div><img alt="student's picture" src="../../assets/Images/logo/Logo_final.png"/></div>
    <h2><span *ngIf="profileData.first_name">{{profileData.first_name + ' '}}</span><span *ngIf="profileData.last_name">{{profileData.last_name}}</span></h2>
  </mat-card>
  <mat-card id="informations">
    <div *ngIf="profileData.email"><mat-icon>email</mat-icon><span>  {{ profileData.email }} </span> <button style="margin-left:15px" mat-button (click)="openDialog()">Change password</button></div>
    <div *ngIf="profileData.phone_number"><mat-icon>phone</mat-icon><span> {{ profileData.phone_number }}</span></div>
    <div *ngIf="profileData.address && profileData.npa && profileData.city"><mat-icon>home</mat-icon><span> {{ profileData.address }} <br> {{profileData.npa + ' ' + profileData.city}} </span></div>
    <div *ngIf="profileData.birth_date"><mat-icon>cake</mat-icon> <span> {{ profileData.birth_date }} </span></div>
    <div *ngIf="profileData.plate_number"><mat-icon>directions_car</mat-icon> <span> {{ profileData.plate_number }} </span></div>
  </mat-card>
</div>
