.profile-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
padding: 15px;
}

#photo-container {
  width : 30%;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#photo-container >div> img {
  width : 60%;
}

#informations{
  width : 60%;
  height: 250px;
  display : flex;
  flex-flow: column wrap;
  justify-content:flex-start;
  align-content: space-around;
}

#informations > div{
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
}

#informations > div > span{
  margin-left : 15px;
}
