.main{
    height: 100%;
    width: 100%;
    background : url(../../assets/Images/logo/Logo_Final_test.png);
    background-size: 100%;
}

h1{
    margin:0;
    padding-top : 15px;
}

#formContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    width: 25%;
    /*background-color: rgba(200, 200, 200, 0.2); */
    padding: 15px;
    align-content: center;
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    text-align: center;
    position: fixed;
    right: 10%;
    top: 30%;
    color : white;
}

#card{
    background-color: rgba(216, 216, 216, 0.7);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    text-align: center;

}

.formItem/*input[type="text"], input[type="password"]*/{

    text-align: center
    /*background: none*/
}

p{
  color: red;
}
