<div style="text-align:center" class="main">
  <h1>
    {{ title }}
  </h1>
  <div id="formContainer">
    <form (ngSubmit)="login()">
      <mat-card id="card">
        <mat-form-field [color]="primary">
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field [color]="primary">
          <input matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <button mat-flat-button type="submit"> Log in </button>
        <p *ngIf="errorText">{{errorText}}</p>
      </mat-card>
    </form>

    <!--
    <form method="POST">
      <mat-card id="card">
        <mat-card-title>Log in</mat-card-title>
        <mat-form-field class="formItem">
          <input matInput type="email" name="username" placeholder="School Mail" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="formItem">
          <input matInput type="password" name="password" placeholder="Password" [formControl]="password" required>
          <mat-error *ngIf="password.invalid">You must enter a value</mat-error>
        </mat-form-field>
        <br>

        <button mat-flat-button (click)="getTocken()"> Log in </button>
      </mat-card>
    </form>
    -->
  </div>
</div>
