<form>
  <mat-form-field>
    <input matInput placeholder="Amount" type="number" [formControl]="amount" required>
    <span matPrefix>CHF&nbsp;</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email to"  [formControl]="email_to" required>
    <mat-error *ngIf="email_to.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Description" [formControl]="description" required>
  </mat-form-field>

  <div class="buttonForm" mat-dialog-actions>
    <button mat-flat-button (click)="noAction()" mat-dialog-close color="none" style="background-color: lightcoral">
      <mat-icon>clear</mat-icon>
    </button>

    <button mat-flat-button (click)="transactionUserToUser()" color="none" style="background-color: rgb(145, 228, 166)">
      <mat-icon>check</mat-icon>
    </button>
  </div>
  <p style="text-align: center;color: lightcoral">
    {{errorMessage}}
  </p>
</form>
