<h1 mat-dialog-title>User Creation</h1>
<form (ngSubmit)="createUser()">
  <mat-dialog-content>

    <div>
      <mat-icon>person</mat-icon>

      <mat-form-field>
        <input matInput required [formControl]="firstname" placeholder="First Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput required [formControl]="lastname" placeholder="Last Name">
      </mat-form-field>
    </div>

    <div>
      <mat-icon>mail</mat-icon>
      <mat-form-field>
        <input matInput required [formControl]="email" placeholder="Email">
      </mat-form-field>
      <button mat-button type="button" (click)="generateMail()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div>
      <mat-icon>phone</mat-icon>
      <mat-form-field>
        <input matInput required [formControl]="phone" placeholder="Phone Number">
      </mat-form-field>
    </div>



    <div>
      <mat-icon>cake</mat-icon>
      <mat-form-field>
        <input matInput required [formControl]="birthdate" [matDatepicker]="datepicker" placeholder="birthdate">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-icon>location_city</mat-icon>

      <div id="address">
        <mat-form-field>
          <input matInput required [formControl]="address" placeholder="Address">
        </mat-form-field>

        <mat-form-field>
          <input matInput required [formControl]="npa" placeholder="NPA">
        </mat-form-field>

        <mat-form-field>
          <input matInput required [formControl]="city" placeholder="City">
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-icon>group</mat-icon>
      <mat-form-field>
        <mat-select placeholder="Role" [formControl]="role">
          <mat-option id="Admin" value="admin">Admin</mat-option>
          <mat-option id="Student" value="student">Student</mat-option>
          <mat-option id="Teacher" value="teacher">Teacher</mat-option>
          <mat-option id="Worker" value="worker">Worker</mat-option>
          <mat-option id="Assistant" value="assistant">Assistant</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-icon>directions_car</mat-icon>

      <div id="address">
        <mat-form-field>
          <input matInput [formControl]="plate_number" placeholder="Plate number">
        </mat-form-field>
      </div>
    </div>

    <p style="text-align: center;color: lightcoral;font-size: 16px">
      {{errorMessage}}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button type="submit" color="none" style="background-color: rgb(145, 228, 166)">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-flat-button type="reset" mat-dialog-close color="none" style="background-color: lightcoral">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-dialog-actions>
</form>