p{
    color : red;
    font-size: 3em;
}

mat-form-field {
    margin : 0 10px;
}

mat-dialog-actions{
    display: flex;
    justify-content: space-around;
}

div{
    display: flex;
    align-items: center
}