/* You can add global styles to this file, and also import other style files */
html, body{
    width: 100%;
    height: 100%;
    margin : 0 !important;
    padding: 0 !important;
    background-color: rgb(250,250, 250);
}
body { margin: 0px; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
