<div class="topBar">
  <button mat-button (click)="sidenav.toggle()" style="height: 100%"> <mat-icon>menu</mat-icon></button> <h1>Salvation</h1>
</div>
<div id="mainbody">
  <mat-sidenav-container style="height: 100%;">
    <mat-sidenav id="lateralMenu" #sidenav mode="side" [(opened)]="sideNavOpened">
      <p *ngIf="username"><strong>{{username}}</strong></p>
      <div id="pic-container">
        <!-- <img src="../../assets/Images/logo/Logo_final.png" id="profile-picture"> -->
      </div>
      <nav>
        <button mat-button routerLink="Dashboard" [disabled]=true><mat-icon class="menu-icon">dashboard</mat-icon> Dashboard</button>
        <button mat-button routerLink="Profile"><mat-icon class="menu-icon">account_circle</mat-icon> Profile</button>
        <button mat-button routerLink="Wallet"><mat-icon class="menu-icon">attach_money</mat-icon> Wallet</button>
        <button mat-button routerLink="Access" [disabled]=true><mat-icon class="menu-icon">vpn_key</mat-icon> Access</button>
        <button *ngIf="isAdmin()" mat-button routerLink="Admin/Users"><mat-icon class="menu-icon">security</mat-icon> Admin</button>
      </nav>
      <button mat-button (click)="logout()" id="btn-logout"> <mat-icon class="menu-icon">logout</mat-icon> Log out </button>
    </mat-sidenav>
    <mat-sidenav-content id="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

