.topBar{
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgb(28, 179, 158, 0.8);
  position: fixed;
  top : 0;
  left: 0;
  right: 0;

  height: 50px;
  z-index: 99;

  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  padding : 0;

  background-color: rgba(67, 145, 135, 0.8);
}

.main{
    padding-top: 25;
}

#lateralMenu{
  position: fixed;
  top : 50px;
  background-color: rgb(240, 240, 240);
  width: 15%;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  justify-items: start;
  align-items: center;
}

#lateralMenu > p{
  font-size: 1.4em;
  margin : 0;
  margin-top: 25px;
  justify-self: start;
}

nav{
  height: 60%;
  width: 100%;
  display : flex;
  flex-direction: column;
  justify-content: start;
  align-content: stretch;
}
nav > button, #btn-logout {
  height: 10%;;
  font-size: 1em;
  width: 100%;
  text-align: left;
  padding-left: 15%;
}

.menu-icon {
  margin-right: 25px;
}

#content{
    /*background-color: grey*/
    position: flex;
    top : 25;
    background-color: rgba(255, 255, 255, 0);

    height: 100%;
}

#container{
    margin-top : 3em;
    height: 100%/*calc(100% - 25oz);   */
}

#mainbody{
  padding-top : 50px;
  height: 90%;
}

#profilePic{
    width :100 px;
    height: auto;
    border-radius: 15;
}

#pic-container{
    width: 80%;
    min-width: 150px;
    border-radius: 50%;
    background-image:url(/assets/Images/logo/Logo_final.png);
    background-size: cover;
    margin: 20px 0;
}

#pic-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

h1{
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  align-self: center;
}
