<div id="search-bar">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
  </mat-form-field>
  <mat-icon>search</mat-icon>

</div>

<div>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Lastname and FirstName Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let profile"> {{profile.first_name}} {{profile.last_name}}</td>
    </ng-container>

    <!-- Mail Column -->
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
      <td mat-cell *matCellDef="let profile"> {{profile.email}} </td>
    </ng-container>

    <!-- Phone number Column -->
    <ng-container matColumnDef="phone_number">
      <th width=8% mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
      <td mat-cell *matCellDef="let profile"> {{profile.phone_number}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th width=8% mat-header-cell *matHeaderCellDef> Action </th>
      <td *matCellDef="let row;let column">
        <button mat-icon-button (click)="detailUser(row.salvationId)">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openConfirmation(row.salvationId)">
            <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr class="header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="line" mat-row *matRowDef="let row;columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<app-user-creation-button></app-user-creation-button>