/* Structure */
table {
    width: 95%;
    margin: 20px 40px;

  }
  
  #search-bar {
    font-size: 14px;
    width: 95%;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    align-items: center;
  }

  .mat-form-field{
    flex-grow: 1;
  }

  .mat-paginator{
    width: 95%;
    margin-right: 40px;
    margin-left: 40px;
  }

  .line:hover{
    background-color: #ddd;
  }

  .header{
    background-color:#725a92;
    font-weight: bold;
  }
  .mat-header-cell{
    color: white;
  }
  