.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow:auto;
    max-height: 500px;
}

.mat-tab-label{
    min-width: 50% !important;
}

.mat-tab-label.mat-tab-label-active{
    min-width: 50% !important;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
}

.card-container > mat-card{
    width: 40%;
    padding: 20px;
    margin: 20px;
}

.table-buttons{
    display: flex;
    justify-content: end;
}