<div class="card-container">
  <mat-card *ngFor="let wallet of wallets">
    <mat-card-title> CHF {{wallet.amount}}.- </mat-card-title>
    <mat-card-subtitle>Wallet {{wallet.type}}</mat-card-subtitle>
  </mat-card>
</div>

<div *ngIf="wallets && dataSourceMain && dataSourcePrinter">
  <p style="margin:0px;padding:10px;text-align:center;font-weight: bold;">Transactions</p>
  <mat-tab-group #tabGroup (selectedIndexChange)="_setDataSource($event)">

    <!-- Main transaction  -->
    <mat-tab label="Main">
      <div class="example-container mat-elevation-z8">
        <mat-table #sortMain="matSort" #table [dataSource]="dataSourceMain" matSort>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
          </ng-container>

          <!-- From Column -->
          <ng-container matColumnDef="from">
            <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.from.name}} </mat-cell>
          </ng-container>

          <!-- To Column -->
          <ng-container matColumnDef="to">
            <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.to.name}} </mat-cell>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div>
          <button mat-icon-button (click)="previousPage()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-icon-button (click)="nextPage()">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <p>Page {{_pageNumberMain}}</p>
        </div>

      </div>
    </mat-tab>

    <!-- Printer transaction -->
    <mat-tab label="Printer">
      <div class="example-container mat-elevation-z8">
        <mat-table #sortPrinter="matSort" #table [dataSource]="dataSourcePrinter" matSort>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
          </ng-container>

          <!-- From Column -->
          <ng-container matColumnDef="from">
            <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.from.name}} </mat-cell>
          </ng-container>

          <!-- To Column -->
          <ng-container matColumnDef="to">
            <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.to.name}} </mat-cell>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div class="table-buttons">
          <button mat-icon-button (click)="previousPage()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-icon-button (click)="nextPage()">
            <mat-icon>chevron_right</mat-icon>
          </button>

          <span>Page {{_pageNumberPrinter}}</span>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<app-button-transaction></app-button-transaction>