<div style="padding:20px">
  <mat-accordion>
    <mat-expansion-panel name="update_profile">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Profile
        </mat-panel-title>
        <mat-panel-description>
          Profile
        </mat-panel-description>
      </mat-expansion-panel-header>


      <form (ngSubmit)="update()">
        <div *ngIf="profileData" id="profile-form">
          <div>
            <div>
              <mat-form-field>
                <input matInput placeholder="First name" [formControl]="first_name" [value]='profileData.first_name'>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Last name" [formControl]="last_name" [value]=profileData.last_name>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Role" [(value)]=selected [formControl]="role">
                  <mat-option value="admin">Admin</mat-option>
                  <mat-option value="student">Student</mat-option>
                  <mat-option value="service">Service</mat-option>
                  <mat-option value="teacher">Teacher</mat-option>
                  <mat-option value="worker">Worker</mat-option>
                  <mat-option value="assistant">Assistant</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput placeholder="Email" [value]=profileData.email [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Phone number" [formControl]="phone_number" [value]=profileData.phone_number>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Birth date" [formControl]="birth_date" [value]=profileData.birth_date>
              </mat-form-field>
            </div>
          </div>

          <table>
            <tr>
              <td colspan="2">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="Address" [formControl]="address" [value]=profileData.address>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="NPA" [formControl]="npa" [value]=profileData.npa>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="City" [formControl]="city" [value]=profileData.city>
                </mat-form-field>
              </td>
            </tr>

          </table>
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Plate number" [formControl]="plate_number" [value]=profileData.plate_number>
          </mat-form-field>
        </div>
        <button class="validate-button" mat-flat-button type="submit">
          <mat-icon>check</mat-icon>
        </button>
      </form>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" name="update_wallets">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Wallets
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="wallets.length != 2">
        <p>Cette utilisateur n'as pas de wallets. Veuillez créer les wallets</p>
        <Button mat-button (click)="createWallets()">Créer</Button>
      </div>

      <div *ngIf="wallets.length == 2">
        <h4 style="font-weight: bold;">Add money</h4>

        <mat-form-field>
          <input matInput placeholder="Amount" type="number" [formControl]="amount" required>
          <span matPrefix>CHF&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Wallet" [formControl]="type">
            <mat-option value="main">Main</mat-option>
            <mat-option value="print">Print</mat-option>
          </mat-select>
        </mat-form-field>

        <Button mat-button (click)="topUp()">Add</Button>
        <p style="color: lightcoral">
          {{errorMessage}}
        </p>
      </div>
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [disabled]=true>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Access
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>