.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {    
    overflow:auto;
    max-height: 500px;
}

mat-form-field {
    margin : 0 10px;
}

td{
    padding: 0 15px;
}

#profile-form {
    display : flex;
    /**justify-content: space-evenly*/
}

#profile-form > div, #profile-form > table{
    margin: 0 15px;
    width: 50%
    /**justify-content: space-evenly*/
}

#profile-form > div > div{
    display: flex;
    justify-content: space-evenly
}

.validate-button{
 background: rgb(145, 228, 166);
 color: none;
}